#pageHome .container {
    padding-top: 70px;
}

#pageHome form select {
    border-radius: 5px;
    border: 1px solid black;
    padding: 3px;
}

#pageHome form button {
    width: 240px;
    border: 0px;
    border-radius: 5px;
    color: white;
    background-color: #0090e5;
    font-weight: bold;
    padding: 4px;
}

.table {
    width: 90%;
}

hr {
    width: 90%;
    color: white;
}